# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [20]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [21]:
weather_data = "../WeatherPy/city_new_data.csv"
weather_data = pd.read_csv(weather_data, index_col=0)
weather_data

,City,Country,Date,Temperature,Latitude,Longitude,Humidity,Wind Speed,Cloudiness
0,mahebourg,MU,1586623441,77.40,-20.41,57.70,88,17.22,75
1,new norfolk,AU,1586623418,48.70,-42.78,147.06,57,16.11,40
2,srednekolymsk,RU,1586623178,14.95,67.45,153.68,95,9.57,1
3,rikitea,PF,1586622858,76.73,-23.12,-134.97,74,3.83,94
4,luena,AO,1586623220,62.87,-11.78,19.92,65,5.14,98
...,...,...,...,...,...,...,...,...,...
551,wagar,SD,1586623748,78.73,16.15,36.20,36,14.03,36
552,kruisfontein,ZA,1586623749,64.45,-34.00,24.73,55,2.82,100
553,naryan-mar,RU,1586623749,14.95,67.67,53.09,95,8.99,62
554,talaya,RU,1586623750,12.69,61.38,152.75,88,0.72,100
555,ahome,MX,1586623750,71.67,25.92,-109.18,52,9.17,40

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [22]:
gmaps.configure(api_key = g_key)

In [25]:
locations = weather_data[["Latitude", "Longitude"]].astype(float)

weather_data = weather_data.dropna()
humidity = weather_data["Humidity"].astype(float)

In [26]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights = humidity,
                                dissipating = False, max_intensity = 100,
                                point_radius = 1)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [27]:
perfect_weather = weather_data.loc[(weather_data["Temperature"] < 80) & (weather_data["Temperature"] > 70) \
                                    & (weather_data["Wind Speed"] < 10) \
                                    & (weather_data["Cloudiness"] == 0)].dropna()
perfect_weather

,City,Country,Date,Temperature,Latitude,Longitude,Humidity,Wind Speed,Cloudiness
118,port hedland,AU,1586623511,75.20,-20.32,118.57,83,5.82,0
162,kefalos,GR,1586623535,71.60,36.75,26.96,37,6.93,0
250,tezu,IN,1586623555,72.77,27.92,96.17,30,3.78,0
324,santa fe,AR,1586623622,78.21,-31.63,-60.70,34,4.00,0
387,sabha,LY,1586623657,77.72,27.04,14.43,17,7.94,0
498,razole,IN,1586623717,78.75,16.48,81.83,85,3.38,0
511,mantua,IT,1586623724,76.28,45.17,10.78,49,5.82,0

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [28]:
hotel_df = pd.DataFrame(perfect_weather)

hotel_df["Hotel Name"] = ""

hotel_df

,City,Country,Date,Temperature,Latitude,Longitude,Humidity,Wind Speed,Cloudiness,Hotel Name
118,port hedland,AU,1586623511,75.20,-20.32,118.57,83,5.82,0,
162,kefalos,GR,1586623535,71.60,36.75,26.96,37,6.93,0,
250,tezu,IN,1586623555,72.77,27.92,96.17,30,3.78,0,
324,santa fe,AR,1586623622,78.21,-31.63,-60.70,34,4.00,0,
387,sabha,LY,1586623657,77.72,27.04,14.43,17,7.94,0,
498,razole,IN,1586623717,78.75,16.48,81.83,85,3.38,0,
511,mantua,IT,1586623724,76.28,45.17,10.78,49,5.82,0,

In [29]:
coordinates = f'{hotel_df["Latitude"].iloc[0]},{hotel_df["Longitude"].iloc[0]}'
search = 'hotel'
radius = 5000
target_type = 'hotel' 

params = {
    "location": coordinates,
    "keyword": search,
    "radius": radius,
    "type": target_type,
    "key" : g_key
}

print(params)

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

response = requests.get(base_url, params=params)
ideal_city = response.json()

#print(json.dumps(ideal_city, indent=4, sort_keys=True))

{'html_attributions':[], 'results': [...], 'status': 'OK'}
hotel_df.iloc[0][0]

{'location': '-20.32,118.57', 'keyword': 'hotel', 'radius': 5000, 'type': 'hotel', 'key': 'AIzaSyDIgdCFnaSQiSKyD_WVgEoaq2tCzsyT_DI'}

'port hedland'

In [30]:
hotel_name = []

params = {
    "radius" : 5000,
    "types" : "lodging",
    "key" : g_key
}

for index, row in hotel_df.iterrows():
    lat = row["Latitude"]
    lng = row["Longitude"]
    
    #print(row)
    
    params["location"] = f'{lat},{lng}'
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    name_address = requests.get(base_url, params=params).json()
    
    #print(json.dumps(name_address, indent=4, sort_keys=True))
    
    try: 
        hotel_df.loc[index, "Hotel Name"] = (name_address['results'][0]['name'])
        
    except IndexError:
        print(f'No hotel name')

hotel_df

,City,Country,Date,Temperature,Latitude,Longitude,Humidity,Wind Speed,Cloudiness,Hotel Name
118,port hedland,AU,1586623511,75.20,-20.32,118.57,83,5.82,0,The Esplanade Hotel
162,kefalos,GR,1586623535,71.60,36.75,26.96,37,6.93,0,Kokalakis Hotel
250,tezu,IN,1586623555,72.77,27.92,96.17,30,3.78,0,Circuit House
324,santa fe,AR,1586623622,78.21,-31.63,-60.70,34,4.00,0,Conquistador Hotel
387,sabha,LY,1586623657,77.72,27.04,14.43,17,7.94,0,Ù…Ø­Ø·Ø© Ø§Ù… Ø§Ù„Ø§Ø±Ø§Ù†Ø¨ -Ø³Ø¨Ù‡Ø§ Ù…ÙˆØ§ØµÙ„Ø§Øª
498,razole,IN,1586623717,78.75,16.48,81.83,85,3.38,0,Hotel Somisetty Landmark Konaseema
511,mantua,IT,1586623724,76.28,45.17,10.78,49,5.82,0,Hotel la Favorita

In [31]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [32]:
# Add marker layer ontop of heat map
markers= gmaps.marker_layer(locations)
fig.add_layer(markers)
fig

# Display Map

Figure(layout=FigureLayout(height='420px'))